body {
    background-color: cornsilk;
    font-family: "Droid Sans", sans-serif;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cat-small {
    object-fit: contain;
}